body {
  background-image: linear-gradient(to right, azure, yellow);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  font-weight: bold;
  font-size: 20px;
  list-style: none;
  cursor: default;
}
#title li {
  margin-bottom: 10px;
}



#button {
  width: 200px;
  padding: 20px;
  background-color: coral;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.hidden {
  display: none;
}

#button:hover {
  transform: scale(1.2);
}

.fizzbuzz {
  color: purple;
  font-size: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.fizzbuzz:hover, .buzz:hover, .fizz:hover {
  transform: scale(1.2);
}

.buzz {
  color: navy;
  font-size: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.fizz {
  color: red;
  font-size: 25px;
  cursor: pointer;
  transition: 0.3s;
}
